{
    admin off
    persist_config off
    auto_https off

    log {
        format json
    }

    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

:{$PORT:3000} {
    log {
        format json
    }

    handle /sitemap.xml {
        header Content-Type "application/xml; charset=utf-8"
        respond <<XML
            <?xml version="1.0" encoding="UTF-8"?>
            <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
              <url><loc>{http.request.scheme}://{http.request.host}/</loc></url>
            </urlset>
            XML 200
    }

    handle /robots.txt {
        header Content-Type "text/plain; charset=utf-8"
        respond "User-agent: *\nAllow: /\nSitemap: {http.request.scheme}://{http.request.host}/sitemap.xml\n" 200
    }

    handle {
        rewrite /health /*
        root * dist
        encode gzip
        try_files {path} /index.html
        file_server
    }
}
